# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp

# Environment files
.env
.env.*

# SSH/private keys
*.pem
*.key

# Python
__pycache__/
*.pyc

# Terraform
.terraform/
*.tfstate
*.tfstate.*
